{% case settings.newsletter_form_type %}
	{% when 'newsletter_shopify' %}
		{% capture popupCode %}
			<div class="newsletter_popup_text">
				<h4>{{ 'layout.footer.newsletter_title' | t }}</h4>
				<p>{{ 'layout.footer.newsletter_tagline' | t }}</p>
				<div class="newsletter_form newsletter_form__shopify">
					{% form 'customer' %}
						<input type="hidden" name="contact[tags]" value="prospect,newsletter" id="contact_tags" />
						<input type="hidden" name="contact[first_name]" value="Newsletter" id="newsletter-first-name" />
						<input type="hidden" name="contact[last_name]" value="Subscriber" id="newsletter-last-name" />
						<input required type="email" name="contact[email]" id="contact_email" placeholder="Enter your email" />
						<button type="submit" name="subscribe" class="btn">{{ 'layout.footer.subscribe_button' | t }}</button>
						<div class="newsletter_off__wrap">
							<a id="newsletter_off" class="btn">{{ 'layout.footer.newsletter_off' | t }}</a>
						</div>
						<p class="newsletter_error">{{ 'layout.footer.newsletter_error' | t }}</p>
					{% endform %}
					<p class="newsletter_success">{{ 'layout.footer.newsletter_success' | t }}</p>
				</div>
			</div>
		{% endcapture %}

	{% when 'newsletter_mailchimp' %}
		{% capture popupCode %}
			<h4>{{ 'layout.footer.newsletter_title' | t }}</h4>
			<p>{{ 'layout.footer.newsletter_tagline' | t }}</p>
			<div class="newsletter_form newsletter_form__mailchimp">
				<form action="{{ settings.newsletter_mailchimp_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
					<input required type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn">{{ 'layout.footer.subscribe_button' | t }}</button>
					<div class="newsletter_off__wrap">
						<a id="newsletter_off" class="btn">{{ 'layout.footer.newsletter_off' | t }}</a>
					</div>
					<p class="newsletter_error">{{ 'layout.footer.newsletter_error' | t }}</p>
				</form>
			</div>
		{% endcapture %}

{% endcase %}

{% assign popupCode = popupCode | replace: "'", "&lsquo;" | strip_newlines %}

<div id="newsletter_popup"></div>

<script>

window.onload = function(){

	$('#newsletter_popup').append('{{ popupCode }}');
	$("#newsletter_popup, .newsletter_success, .newsletter_error").hide();

	$(window).load(function(){

		if ( !($.cookie('newsletter_popup_status')) && $(window).width() > 768 ) {

			setTimeout(function(){
				$.fancybox(
					$('#newsletter_popup'),
					{
						'width': 700,
						'height': 400,
						'autoSize' : false,
						'openSpeed': 500,
						'closeSpeed': 500,
						helpers:  {
							overlay: {
								speedOut: 1000, 
							}
						},
						tpl: {
							wrap: '<div id="newsletter_popup__wrap" class="fancybox-wrap" tabIndex="-1" ><div class="fancybox-skin" {% if settings.newsletter_popup_bg %}style="background-image: url( {{ settings.newsletter_popup_bg | img_url: '750x450', crop: 'center' }} );"{% endif %}><div class="fancybox-outer"><div class="fancybox-inner"></div></div></div></div>',
							closeBtn : '<a title="Close" id="newsletter_popup__close" class="fancybox-item fancybox-close" href="javascript:;"></a>',
						},
					}
				);

				$('#newsletter_popup__wrap').parent().on('click', function() {
					 $.cookie('newsletter_popup_status', 'delayed', { path: '/' });
				});

				$('#newsletter_popup__close').on('click', function() {
					 $.cookie('newsletter_popup_status', 'delayed', { path: '/' });
				});

				$('#newsletter_off').on('click', function() {
					$.fancybox.close($('#newsletter_popup'));
					$.cookie("newsletter_popup_status", "disabled", { path: '/', expires : {{ settings.newsletter_popup_period | plus:0 }} });
					return false;
				});

			}, 1500);

			// // native Shopify form submition with AJAX
			// $(".newsletter_form__shopify form").submit(function() {
			// 	if ( $("#contact_email").val().length > 6 && $("#contact_email").val().indexOf("@") != -1 && $("#contact_email").val().indexOf(".") != -1 ) {
			// 		$.ajax({
			// 			type: "POST",
			// 			url: "/contact",
			// 			data: $("#newsletter_popup form").serialize(),
			// 			success: function(data) {
			// 				$(".newsletter_form__shopify form").fadeOut(400);
			// 				$(".newsletter_success").delay(600).fadeIn();

			// 				setTimeout(function(){
			// 					$.fancybox.close($('#newsletter_popup'));
			// 				},2000);

			// 				$.cookie("newsletter_popup_status", "disabled", { path: '/', expires : {{ settings.newsletter_popup_disable | plus:0 }} });
			// 			}
			// 		});
			// 	}

			// 	else {
			// 		$("#contact_email").css({"border-color":"#f00"});
			// 		$(".newsletter_error").fadeIn(400);
			// 	};

			// 	return false;
			// });

			// mailchimp form submition
			$("#mc-embedded-subscribe-form").submit(function() {
				$.cookie("newsletter_popup_status", "disabled", { path: '/', expires : {{ settings.newsletter_popup_disable | plus:0 }} });
			});

		};

	});

	$('#newsletter_popup form').formValidation();
};
</script>

