<div class="template_page template_page_sections_all">
	<div class="container">
		<h1 class="page_heading">Sections</h1>

		<div class="page_description">
			Whats so special about Section Functionality?<br>

You can easily add, reorder, and remove chunks of content such as products, logo, products, or collections.<br> All of changes you do on homepage preview in real-time in either desktop or mobile view.<br>

Build a powerful and professional looking website which will recharge your business!
		</div>
	</div>
	<div class="container" style="text-align: center;">
		<hr>
		
	</div>

	{% comment %}<div class="container" style="text-align: center;">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M15.5 20c-0.143 0-0.283-0.062-0.38-0.175l-5.62-6.557-5.62 6.557c-0.136 0.159-0.357 0.216-0.553 0.144s-0.327-0.26-0.327-0.469v-18c0-0.276 0.224-0.5 0.5-0.5h12c0.276 0 0.5 0.224 0.5 0.5v18c0 0.209-0.13 0.396-0.327 0.469-0.057 0.021-0.115 0.031-0.173 0.031zM9.5 12c0.146 0 0.285 0.064 0.38 0.175l5.12 5.974v-16.148h-11v16.148l5.12-5.974c0.095-0.111 0.234-0.175 0.38-0.175z" fill="{{ settings.color_3 }}"></path>
		</svg> Banners</h2>
		<p class="section_description">
			The section with banners allows you to place banners of two different sizes and link them to the product or collection you want to describe.<br>
			Banners with image sizes of 555x615 and 570x635px.
		</p>
	</div>
	{% section 'index-banners' %}
	<div class="container" style="text-align: center;">
		<hr>
		
	</div>{% endcomment %}
	
	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M10.354 12.146l-2.5-2.5c-0.13-0.13-0.321-0.178-0.497-0.125l-5 1.5c-0.169 0.051-0.299 0.187-0.341 0.358l-2 8c-0.043 0.17 0.007 0.351 0.132 0.475 0.095 0.095 0.223 0.146 0.354 0.146 0.040 0 0.081-0.005 0.121-0.015l8-2c0.171-0.043 0.307-0.172 0.358-0.341l1.5-5c0.053-0.176 0.005-0.367-0.125-0.497zM8.103 17.084l-5.973 1.493 2.724-2.724c0.196 0.094 0.415 0.147 0.646 0.147 0.827 0 1.5-0.673 1.5-1.5s-0.673-1.5-1.5-1.5-1.5 0.673-1.5 1.5c0 0.231 0.053 0.45 0.147 0.646l-2.724 2.724 1.493-5.973 4.442-1.332 2.078 2.078-1.332 4.442zM5 14.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5-0.224 0.5-0.5 0.5-0.5-0.224-0.5-0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M13.5 12c-0.276 0-0.5-0.224-0.5-0.5 0-2.481-2.019-4.5-4.5-4.5-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5c3.033 0 5.5 2.467 5.5 5.5 0 0.276-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M16.5 12c-0.276 0-0.5-0.224-0.5-0.5 0-4.136-3.364-7.5-7.5-7.5-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5c2.27 0 4.405 0.884 6.010 2.49s2.49 3.74 2.49 6.010c0 0.276-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M19.5 12c-0.276 0-0.5-0.224-0.5-0.5 0-5.79-4.71-10.5-10.5-10.5-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5c1.552 0 3.058 0.304 4.476 0.904 1.369 0.579 2.599 1.408 3.655 2.464s1.885 2.286 2.464 3.655c0.6 1.418 0.904 2.924 0.904 4.476 0 0.276-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		</svg> Blog articles</h2>
		<p class="section_description">
			Tell your customers about the news of your store using a blog. Blog articles can be placed in blocks of 3, 6, 9 segments. Also you can select small (370x245), medium (370x370), and large (370x493) size images. Display the text on top of the picture or under it. You can also add or remove the "View All" button.
		</p>
	</div>
	{% section 'index-blog-articles' %}
	<div class="container" style="text-align: center;">
		<hr>
		
	</div>

	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M19.5 16h-15c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h15c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M19.5 11h-15c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h15c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M19.5 6h-15c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h15c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M1.5 7c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5 1.5 0.673 1.5 1.5-0.673 1.5-1.5 1.5zM1.5 5c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5 0.5-0.224 0.5-0.5-0.224-0.5-0.5-0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M1.5 12c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5 1.5 0.673 1.5 1.5c0 0.827-0.673 1.5-1.5 1.5zM1.5 10c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5 0.5-0.224 0.5-0.5-0.224-0.5-0.5-0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M1.5 17c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5 1.5 0.673 1.5 1.5-0.673 1.5-1.5 1.5zM1.5 15c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5 0.5-0.224 0.5-0.5-0.224-0.5-0.5-0.5z" fill="{{ settings.color_3 }}"></path>
		</svg> Collection list</h2>
		<p class="section_description">
			Do you have new collections in the store? Add to the homepage with this section accommodating up to 9 collections. Choose the image size: small (370x209), medium (370x400), and large (370x449). You can also place text on top of the picture or below it. You can disable button “See everything”. 
		</p>
	</div>
	{% section 'index-collection-list' %}
	<div class="container" style="text-align: center;">
		<hr>
		
	</div>

	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M19.103 0.896c-0.562-0.562-1.309-0.871-2.103-0.871s-1.542 0.309-2.103 0.871l-9.75 9.75c-0.052 0.052-0.091 0.114-0.116 0.183l-2 5.5c-0.066 0.183-0.021 0.387 0.116 0.524 0.095 0.096 0.223 0.147 0.354 0.147 0.057 0 0.115-0.010 0.171-0.030l5.5-2c0.069-0.025 0.131-0.065 0.183-0.116l9.75-9.75c0.562-0.562 0.871-1.309 0.871-2.104s-0.309-1.542-0.871-2.104zM8.725 14.068l-4.389 1.596 1.596-4.389 8.068-8.068 2.793 2.793-8.068 8.068zM18.397 4.396l-0.897 0.896-2.793-2.793 0.897-0.896c0.373-0.373 0.869-0.578 1.396-0.578s1.023 0.205 1.397 0.578c0.373 0.373 0.578 0.869 0.578 1.396s-0.205 1.023-0.578 1.396z" fill="{{ settings.color_3 }}"></path>
		<path d="M17.5 20h-16c-0.827 0-1.5-0.673-1.5-1.5v-16c0-0.827 0.673-1.5 1.5-1.5h10c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5h-10c-0.276 0-0.5 0.224-0.5 0.5v16c0 0.276 0.224 0.5 0.5 0.5h16c0.276 0 0.5-0.224 0.5-0.5v-10c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5v10c0 0.827-0.673 1.5-1.5 1.5z" fill="{{ settings.color_3 }}"></path>
		</svg> Custom content</h2>
		<p class="section_description">
			Add blocks with a picture, text, YouTube video, product, collection, or HTML code. You can change the size of each block 25, 33, 50, 66, 75 or 100%.
		</p>
	</div>
	{% section 'index-custom-content' %}
	<div class="container" style="text-align: center;">
		<hr>
		
	</div>

	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M15.5 19c-0.082 0-0.164-0.020-0.239-0.061l-5.261-2.869-5.261 2.869c-0.168 0.092-0.373 0.079-0.529-0.032s-0.235-0.301-0.203-0.49l0.958-5.746-3.818-3.818c-0.132-0.132-0.18-0.328-0.123-0.506s0.209-0.31 0.394-0.341l5.749-0.958 2.386-4.772c0.085-0.169 0.258-0.276 0.447-0.276s0.363 0.107 0.447 0.276l2.386 4.772 5.749 0.958c0.185 0.031 0.337 0.162 0.394 0.341s0.010 0.374-0.123 0.506l-3.818 3.818 0.958 5.746c0.031 0.189-0.048 0.379-0.203 0.49-0.086 0.061-0.188 0.093-0.29 0.093zM10 15c0.082 0 0.165 0.020 0.239 0.061l4.599 2.508-0.831-4.987c-0.027-0.159 0.025-0.322 0.14-0.436l3.313-3.313-5.042-0.84c-0.158-0.026-0.293-0.127-0.365-0.27l-2.053-4.106-2.053 4.106c-0.072 0.143-0.207 0.243-0.365 0.27l-5.042 0.84 3.313 3.313c0.114 0.114 0.166 0.276 0.14 0.436l-0.831 4.987 4.599-2.508c0.075-0.041 0.157-0.061 0.239-0.061z" fill="{{ settings.color_3 }}"></path>
		</svg> Featured products</h2>
		<p class="section_description">
			Place your goods where you think is appropriate and the quantity you want. List products from  the selected collection in groups of 4, 8, 12, 16, 20. Choose the image size - small (270x151), medium (270x270), and large (270x360).
		</p>
	</div>
	{% section 'index-featured-products' %}
	<div class="container" style="text-align: center;">
		<hr>
		
	</div>

	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M16.5 20h-14c-0.827 0-1.5-0.673-1.5-1.5v-13c0-0.827 0.673-1.5 1.5-1.5h14c0.827 0 1.5 0.673 1.5 1.5v13c0 0.827-0.673 1.5-1.5 1.5zM2.5 5c-0.276 0-0.5 0.224-0.5 0.5v13c0 0.276 0.224 0.5 0.5 0.5h14c0.276 0 0.5-0.224 0.5-0.5v-13c0-0.276-0.224-0.5-0.5-0.5h-14z" fill="{{ settings.color_3 }}"></path>
		<path d="M16.5 3h-14c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h14c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M15.5 1h-12c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h12c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M11.5 13c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5 1.5 0.673 1.5 1.5-0.673 1.5-1.5 1.5zM11.5 11c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5 0.5-0.224 0.5-0.5-0.224-0.5-0.5-0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M14.5 8h-10c-0.276 0-0.5 0.224-0.5 0.5v7c0 0.276 0.224 0.5 0.5 0.5h10c0.276 0 0.5-0.224 0.5-0.5v-7c0-0.276-0.224-0.5-0.5-0.5zM5 13.675l1.266-1.582c0.073-0.091 0.164-0.142 0.259-0.144s0.189 0.044 0.266 0.131l2.596 2.92h-4.387v-1.325zM14 15h-3.275l-3.187-3.585c-0.272-0.306-0.651-0.476-1.039-0.466s-0.758 0.199-1.014 0.519l-0.485 0.606v-3.075h9v6z" fill="{{ settings.color_3 }}"></path>
		</svg> Gallery</h2>
		<p class="section_description" style="margin-bottom: 50px;">
			Place in this section any photos: shop, goods, company, collections, etc. It is possible to add from 1 to 4 images, in a row across the entire width of the page. Add text and a link. There is the facility to change  the height of the block (small, medium, large).
		</p>
	</div>
	{% section 'index-gallery' %}
	<div class="container" style="text-align: center;">
		<div class="spacer"></div>
		<hr>
		
	</div>

	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M16.5 20h-13c-0.827 0-1.5-0.673-1.5-1.5v-16c0-0.827 0.673-1.5 1.5-1.5h13c0.827 0 1.5 0.673 1.5 1.5v16c0 0.827-0.673 1.5-1.5 1.5zM3.5 2c-0.276 0-0.5 0.224-0.5 0.5v16c0 0.276 0.224 0.5 0.5 0.5h13c0.276 0 0.5-0.224 0.5-0.5v-16c0-0.276-0.224-0.5-0.5-0.5h-13z" fill="{{ settings.color_3 }}"></path>
		<path d="M8.5 5h-3c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h3c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M8.5 7h-3c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h3c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M8.5 9h-3c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h3c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M8.5 11h-3c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h3c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M14.5 13h-9c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h9c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M14.5 15h-9c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h9c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M14.5 17h-9c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h9c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M14.5 11h-4c-0.276 0-0.5-0.224-0.5-0.5v-6c0-0.276 0.224-0.5 0.5-0.5h4c0.276 0 0.5 0.224 0.5 0.5v6c0 0.276-0.224 0.5-0.5 0.5zM11 10h3v-5h-3v5z" fill="{{ settings.color_3 }}"></path>
		</svg> Image with text</h2>
		<p class="section_description">
			This section can be used to convert a client with a “Call to action” button. You can choose the image size - small (570x320), medium (570x570), and large (570x760).
		</p>
	</div>
	{% section 'index-image-with-text' %}
	<div class="container" style="text-align: center;">
		<hr>
		
	</div>

	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M10 12c-0.066 0-0.132-0.013-0.194-0.039l-9.5-4c-0.185-0.078-0.306-0.26-0.306-0.461s0.121-0.383 0.306-0.461l9.5-4c0.124-0.052 0.264-0.052 0.388 0l9.5 4c0.185 0.078 0.306 0.26 0.306 0.461s-0.121 0.383-0.306 0.461l-9.5 4c-0.062 0.026-0.128 0.039-0.194 0.039zM1.788 7.5l8.212 3.457 8.212-3.457-8.212-3.457-8.212 3.457z" fill="{{ settings.color_3 }}"></path>
		<path d="M10 15c-0.066 0-0.132-0.013-0.194-0.039l-9.5-4c-0.254-0.107-0.374-0.4-0.267-0.655s0.4-0.374 0.655-0.267l9.306 3.918 9.306-3.918c0.254-0.107 0.548 0.012 0.655 0.267s-0.012 0.548-0.267 0.655l-9.5 4c-0.062 0.026-0.128 0.039-0.194 0.039z" fill="{{ settings.color_3 }}"></path>
		<path d="M10 18c-0.066 0-0.132-0.013-0.194-0.039l-9.5-4c-0.254-0.107-0.374-0.4-0.267-0.655s0.4-0.374 0.655-0.267l9.306 3.918 9.306-3.918c0.254-0.107 0.548 0.012 0.655 0.267s-0.012 0.548-0.267 0.655l-9.5 4c-0.062 0.026-0.128 0.039-0.194 0.039z" fill="{{ settings.color_3 }}"></path>
		</svg> Image with text overlay</h2>
		<p class="section_description" style="margin-bottom: 50px;">
			If you want to place a parallax effect on your site this section is ideal for that. You can choose the image size - small (2048x500), medium (2048x600), and large (2048x800).
		</p>
	</div>
	{% section 'index-image-with-text-overlay' %}
	<div class="container" style="text-align: center;">
		<div class="spacer"></div>
		<hr>
		
	</div>

	{% comment %}<div class="container">
		<h2 class="section_name"><i class="fa fa-instagram" aria-hidden="true" style="font-size: 24px;color: {{ settings.color_3 }};margin-right: 15px;"></i> Instagram feed</h2>
		<p class="section_description">
			The number of Instagram users exceeded 700 million in 2017. How many of them could become your customers? Use this tool to attract new customers. Displays the last 6 or 12 images from  Instagram, with reference to the post.
		</p>
	</div>
	{% section 'index-instagram' %}
	<div class="container" style="text-align: center;">
		<div class="spacer"></div>
		<hr>
		
	</div>{% endcomment %}

	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M19.5 4h-14c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h14c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M19.5 11h-14c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h14c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M19.5 18h-14c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h14c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M1.5 6c-0.276 0-0.5-0.224-0.5-0.5v-3.5h-0.5c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h1c0.276 0 0.5 0.224 0.5 0.5v4c0 0.276-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M2.5 13h-2c-0.276 0-0.5-0.224-0.5-0.5v-2c0-0.276 0.224-0.5 0.5-0.5h1.5v-1h-1.5c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h2c0.276 0 0.5 0.224 0.5 0.5v2c0 0.276-0.224 0.5-0.5 0.5h-1.5v1h1.5c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M2.5 15h-2c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5h1.5v1h-1.5c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5h1.5v1h-1.5c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5h2c0.276 0 0.5-0.224 0.5-0.5v-4c0-0.276-0.224-0.5-0.5-0.5z" fill="{{ settings.color_3 }}"></path>
		</svg> Logo list</h2>
		<p class="section_description" style="margin-bottom: 50px;">
			This functionality helps customers select products by their manufacturers. Once your shoppers click on a name of a certain brand, they will proceed to the page with all items that belong to same brand. You can add from 4 to 20 logo.  Choose the size of logo pictures:  small(270x90), medium(270x151) and large(270x270).
		</p>
	</div>
	{% section 'index-logo-list' %}
	<div class="container" style="text-align: center;">
		<div class="spacer"></div>
		<hr>
		
	</div>

	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M18.763 1.075c-0.147-0.091-0.331-0.099-0.486-0.022l-5.776 2.888-5.776-2.888c-0.141-0.070-0.306-0.070-0.447 0l-6 3c-0.169 0.085-0.276 0.258-0.276 0.447v15c0 0.173 0.090 0.334 0.237 0.425 0.080 0.050 0.171 0.075 0.263 0.075 0.076 0 0.153-0.018 0.224-0.053l5.776-2.888 5.776 2.888c0.141 0.070 0.307 0.070 0.447 0l6-3c0.169-0.085 0.276-0.258 0.276-0.447v-15c-0-0.173-0.090-0.334-0.237-0.425zM6 16.191l-5 2.5v-13.882l5-2.5v13.882zM7 2.309l5 2.5v13.882l-5-2.5v-13.882zM18 16.191l-5 2.5v-13.882l5-2.5v13.882z" fill="{{ settings.color_3 }}"></path>
		</svg> Map</h2>
		<p class="section_description">
			Do you sell from a physical location as well as online? Your customers need to know where your store is located, if they want to see the actual goods. Choose the height of the section (small, medium, large). Also, you can change the colors and the icon indicating the store location point. There are 5 styles for the map: Default style, Light, Dark, Pale Dawn, Apple maps, Midnight). Used by the Google Maps API key.
		</p>
	</div>
	{% section 'index-map' %}
	<div class="container" style="text-align: center;">
		<hr>
		
	</div>

	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M12.5 15.5c0-0.128 0.049-0.256 0.146-0.354l5.646-5.646-5.646-5.646c-0.195-0.195-0.195-0.512 0-0.707s0.512-0.195 0.707 0l6 6c0.195 0.195 0.195 0.512 0 0.707l-6 6c-0.195 0.195-0.512 0.195-0.707 0-0.098-0.098-0.146-0.226-0.146-0.354z" fill="{{ settings.color_3 }}"></path>
		<path d="M0.5 9.5c0-0.128 0.049-0.256 0.146-0.354l6-6c0.195-0.195 0.512-0.195 0.707 0s0.195 0.512 0 0.707l-5.646 5.646 5.646 5.646c0.195 0.195 0.195 0.512 0 0.707s-0.512 0.195-0.707 0l-6-6c-0.098-0.098-0.146-0.226-0.146-0.354z" fill="{{ settings.color_3 }}"></path>
		</svg> Products carousel</h2>
		<p class="section_description">
			According to statistics, the client often uses the section with the carousel, as he can review the top products or bestsellers that the store offers without moving to the product page. From the selected collection you can show 4, 8, 12, 16 or 20 products, in one or two rows, 4 in a row. If the products are larger than the space in a row, they are displayed as a carousel. A carousel of two rows can be scrolled in one or more directions. It is possible to choose the image size of the product: small (270x170), medium (270x270), and large (270x374).
		</p>
	</div>
	{% section 'index-products-carousel' %}
	<div class="container" style="text-align: center;">
		<hr>
		
	</div>

	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M7.5 19.085c-0.401 0-0.778-0.156-1.061-0.438l-5.086-5.086c-0.283-0.283-0.438-0.659-0.438-1.061s0.156-0.778 0.438-1.061l8.586-8.586c0.487-0.487 1.372-0.854 2.061-0.854h4.5c0.827 0 1.5 0.673 1.5 1.5v4.5c0 0.688-0.367 1.574-0.853 2.061l-8.586 8.586c-0.283 0.283-0.659 0.438-1.061 0.438zM12 3c-0.415 0-1.060 0.267-1.353 0.561l-8.586 8.586c-0.094 0.094-0.145 0.219-0.145 0.354s0.052 0.26 0.145 0.353l5.086 5.086c0.094 0.094 0.219 0.145 0.354 0.145s0.26-0.052 0.354-0.145l8.586-8.586c0.293-0.293 0.561-0.939 0.561-1.354v-4.5c0-0.276-0.224-0.5-0.5-0.5h-4.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M14.5 7c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5 1.5 0.673 1.5 1.5-0.673 1.5-1.5 1.5zM14.5 5c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5 0.5-0.224 0.5-0.5-0.224-0.5-0.5-0.5z" fill="{{ settings.color_3 }}"></path>
		</svg> Single product</h2>
		<p class="section_description">
			If you have a single product shop, or you want to draw the customer's attention to a particular product that you would like to sell faster and in greater quantities,  this is the ideal section. The data of the selected product is displayed. You can choose the image size: small (370x370), medium (570x570), Full-width (1170x520).
		</p>
	</div>
	{% section 'index-single-product' %}
	<div class="container" style="text-align: center;">
		<hr>
		
	</div>

	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M14.5 20c-0.076 0-0.153-0.017-0.224-0.053l-3.894-1.947h-9.882c-0.276 0-0.5-0.224-0.5-0.5v-14c0-0.276 0.224-0.5 0.5-0.5h9.882l3.894-1.947c0.155-0.077 0.339-0.069 0.486 0.022s0.237 0.252 0.237 0.425v18c0 0.173-0.090 0.334-0.237 0.425-0.080 0.050-0.171 0.075-0.263 0.075zM1 17h9.5c0.078 0 0.154 0.018 0.224 0.053l3.276 1.638v-16.382l-3.276 1.638c-0.069 0.035-0.146 0.053-0.224 0.053h-9.5v13z" fill="{{ settings.color_3 }}"></path>
		<path d="M19.5 18h-3c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h2.5v-13h-2.5c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h3c0.276 0 0.5 0.224 0.5 0.5v14c0 0.276-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M8.354 10.146l-2-2c-0.195-0.195-0.512-0.195-0.707 0s-0.195 0.512 0 0.707l1.146 1.146h-4.293c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5h4.293l-1.146 1.146c-0.195 0.195-0.195 0.512 0 0.707 0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146l2-2c0.195-0.195 0.195-0.512 0-0.707z" fill="{{ settings.color_3 }}"></path>
		<path d="M10.5 7c-0.276 0-0.5-0.224-0.5-0.5v-1c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5v1c0 0.276-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M10.5 10c-0.276 0-0.5-0.224-0.5-0.5v-1c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5v1c0 0.276-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M10.5 13c-0.276 0-0.5-0.224-0.5-0.5v-1c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5v1c0 0.276-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		<path d="M10.5 16c-0.276 0-0.5-0.224-0.5-0.5v-1c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5v1c0 0.276-0.224 0.5-0.5 0.5z" fill="{{ settings.color_3 }}"></path>
		</svg> Slideshow</h2>
		<p class="section_description" style="margin-bottom: 50px;">
			Slider is the most popular item in all online stores. You can change the height of the section: small (2048x400), medium (2048x600), and large (2048x800). Turn on autoplay from 5 to 10 seconds. Add up to 5 slides.
		</p>
	</div>
	{% section 'index-slideshow' %}
	<div class="container" style="text-align: center;">
		<div class="spacer"></div>
		<hr>
		
	</div>

	<div class="container">
		<h2 class="section_name"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 20 20">
		<path d="M0.5 19c-0.225 0-0.422-0.15-0.482-0.367s0.032-0.447 0.225-0.562c1.691-1.014 2.392-2.489 2.641-3.179-1.838-1.407-2.884-3.354-2.884-5.392 0-1.029 0.258-2.026 0.768-2.964 0.486-0.894 1.18-1.695 2.061-2.381 1.787-1.39 4.156-2.156 6.671-2.156s4.884 0.766 6.671 2.156c0.881 0.685 1.575 1.486 2.061 2.381 0.51 0.937 0.768 1.934 0.768 2.964s-0.258 2.026-0.768 2.964c-0.486 0.894-1.18 1.695-2.061 2.381-1.787 1.39-4.156 2.156-6.671 2.156-1.033 0-2.047-0.129-3.016-0.385-0.429 0.286-1.231 0.793-2.189 1.27-1.488 0.74-2.764 1.115-3.794 1.115zM9.5 3c-4.687 0-8.5 2.916-8.5 6.5 0 1.815 1.005 3.562 2.756 4.792 0.172 0.121 0.25 0.336 0.196 0.539-0.117 0.436-0.515 1.633-1.58 2.788 1.302-0.456 2.704-1.247 3.739-1.959 0.123-0.085 0.277-0.11 0.421-0.069 0.948 0.271 1.947 0.409 2.968 0.409 4.687 0 8.5-2.916 8.5-6.5s-3.813-6.5-8.5-6.5z" fill="{{ settings.color_3 }}"></path>
		</svg> Testimonials</h2>
		<p class="section_description">
			More than 60% of customers make a point of paying attention to reviews about the company. Add 1 - 9 quotes. With more than 3, the quotes will be in the carousel.
		</p>
	</div>
	{% section 'index-testimonials' %}
	<div class="container" style="text-align: center;">
		<hr>
		
	</div>

	<div class="container">
		<h2 class="section_name"><i class="fa fa-columns" aria-hidden="true" style="font-size: 24px;color: {{ settings.color_3 }};margin-right: 15px;"></i> Text columns with images</h2>
		<p class="section_description">
			Share blogs, products or promotions with your customers. Columns can consist of image with text and button, you can choose small (370x208), medium (370x370), and large (370x493), and add up to 6 blocks. There is an opportunity to change alignment of the text on the left edge, on the right edge and in the center.
		</p>
	</div>
	{% section 'index-text-columns' %}

</div>

<style>
h2.section_name {margin-top: 45px;text-align: center;margin-bottom: 15px;color: #000;line-height: 25px;}	
.template_page_sections_all .page_heading {text-align: center;color: #000;}
.template_page_sections_all .page_description {padding: 70px 0;text-align: center;line-height: 2.2em;}
.template_page_sections_all .section_description {text-align: center;margin: 10px 0;line-height: 2.2em;}
.template_page_sections_all hr {height: 2px;border: none;color: {{ settings.border_color }};background-color: {{ settings.border_color }};}
.template_page_sections_all .section_name i {vertical-align: top;}
.template_page_sections_all .spacer {height: 50px;}
.template_page_sections_all svg {margin-right: 15px;display: inline-block;vertical-align: top;}
</style>

